/* General Styles */

:root {
  --mainYellow: #ffe600;
  --black: #333333;
  --grey: #666666;
  --lightGrey: #999999;
  --superLightGrey: #eeeeee;
  --blue: #3483fa;
  --white: #f3f3f3;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--white);
  color: var(--black);
}

.text-title {
  letter-spacing: 0.3rem;
  text-transform: capitailze;
}

.col-centered {
  float: none;
  margin: 0 auto;
}
